spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Order-service
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  redis:
    host: localhost
    port: 6379

  server:
    port: 8082

# ⭐️ THÊM: Cấu hình URL cho Feign Clients (local)
feign:
  client:
    product-service-url: http://localhost:3002
    user-service-url: http://localhost:3001
    drone-service-url: http://localhost:8086

# URL mặc định cho Feign Client khi chạy local
---
spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://db-order:5432/Order-service

  redis:
    host: redis
    port: 6379
    timeout: 2000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0

# ⭐️ THÊM: Cấu hình URL cho Feign Clients (docker)
feign:
  client:
    product-service-url: http://product-service:3002
    user-service-url: http://user-service:3000
    drone-service-url: http://drone-service:8086
